@import url('https://fonts.googleapis.com/css?family=Muli:400,600|Open+Sans|Orbitron');

#wrapper {
	font-family: Muli, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	width: 100%;
	background-color: #0b1017;
}

header {
	background-color: black;
	border: 1px black solid;
}

#logo {
	display: block;
	margin: 5px 0 5px 10px;
	padding: 5px;
	float: left;
	font-family: Orbitron;
	font-weight: bold;
	font-size: 1.5em;
	color: #fff;
}

nav	{
	background-color: none;
	float: right;
	display: block;
	width: 20%;
	margin: .5em 1em .5em 0;
	padding: 0 5px 0 0;
}

.top_nav {
	text-decoration: none;
	color: #fff;
	font-family: Orbitron;
	font-weight: bold;
	text-align: center;
	padding: 0.2%;
	display: block;
	float: right;
	width: 31.5%;
}

.social_icon {
	width: 30%;
}


a:hover {
	background-color: #56b09f;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

#first_page {
	display: block;
	height: 40em;
	background: url("../images/background_2.jpg");
}

#headline {
	color: #fff;
	font-size: 1.2em;
	padding: 15%;
	text-align: center;
}

h1 {
	font-size: 1.3em;
	padding-bottom: 1.5em;
}

#main, #second_page {
	display: block;
	margin: 1% auto;
	width: 70%;
	padding: 1%;
	background-color: none;
}

article {
	color: #c3b998;
	text-align: justify;
	display: block;
	width: 30.5%;
	float: left;
	padding: 0.5%;
	margin: 0.5%;
}

.app_image {
	width: 90%;
	margin: 0 10% 2% 7%;
	padding: 0 2% 0 0;
	border-radius: 56px;
}


footer {
	background-color: black;
	border: 1px solid black;
	width: auto;
	padding: 10px;
	margin: 0 auto 10px;
	font-family: Orbitron;
	font-weight: bold;

}

#contact {
	display: block;
	width: 110px;
	float: right;
}

#a_footer {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding: 3px;
	display: block;
	float: right;
	margin-right: 5%; 
}

#copyright {
	color: #fff;
	display: inline-block;
	float: left;
	padding: 3px;
}


@media only screen and (max-width: 1740px) {
	nav {
		width: 20%;
		}
	
	#main, #second_page {
		width: 80%;
	}
}

@media only screen and (max-width: 1520px) {
	nav {
		width: 30%;
		}
	
	#main, #second_page {
		width: 90%;
	}
}

@media only screen and (max-width: 1356px) {
	#wrapper {
		font-size: 14px
	}
}

@media only screen and (max-width: 1188px) {
	nav {
		width: 40%;
	}
	#wrapper {
		font-size: 13px
	}
}

@media only screen and (max-width: 900px) {
	article {
		float: none;
		width: 50%;
		margin: 5% auto;
		}
	nav {
		width: 50%;
	}

}
@media only screen and (max-width: 660px) {
	nav {
		width:60%;
	}
}

@media only screen and (max-width: 550px) {
	.main {
		width: 100%;
	}
	article {
		width: 60%;
		margin: 5% 20%;
	}
	#wrapper {
		font-size: 12px;
	}
}
@media only screen and (max-width: 505px) {
	article {
		width: 65%;
		margin: 5% 18%;
	}
	nav {
		width: 65%;
	}
}
@media only screen and (max-width: 480px) {
	article {
		width: 85%;
		margin: 5% 8%;
	}
	nav {
		width: 65%;
	}
}